/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0ca0d6; /* Change to your preferred hover color */
}

/* Section styles */
section {
    color: white;
    padding: 2rem;
}

.myself {
    font-size: 35px;
    position: relative;
    padding: 1rem;
    width: 45rem;
    text-align: center;
}

.name{
    font: bolder;
    font-size: 50px;
}

#imgsrc {
    float: left;
    margin-right: 20px; /* Adjust the margin as needed for spacing */
}

.intro {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

img {
    /* border-radius: 50%; */
    padding: 25px;
    margin-top: 20px;
    max-width: 25rem;
}

/* Footer styles */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .intro {
        flex-direction: column; /* Stack items vertically on small screens */
    }
    
    .myself {
        padding: 2rem; /* Adjust padding for better spacing on small screens */
        width: auto;
        text-align: center;
    }
}
